body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul{
    list-style-type: none;
}
.page-one{
    color: #2e2f42;
    font-family: "Roboto", sans-serif;

}
.title-one{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.section-three{
    background-color: #F4F4FD;
}
.footer{
    background-color: #2E2F42;
}
.title-footer{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}
.text-button{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.footer-logo .logo-title,
.nav-logo .logo-first{ 
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-logo,
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-first {
    color: #2E2F42;
}

.logo-title {
    color: #f4f4fd;
}
.page-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.page-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.page-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.page-people{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-pparagraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.page-features{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.name-features{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #434455;

}
.first-featur{
    background-color: #FFFFFF;
}
.studio{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.address-ul{
    font-style: normal;
}
.section-three .team-ul{
    background-color: #FFFFFF;
}

